.ht-box {position:relative;margin:0;padding:40px 0 65px;width:220px;font-size:14px;color:#34495e;}
    .ht-box .iconfont {font-size:14px;}
    .ht-box a {text-decoration:none;color:#34495e;}
        .ht-box a {outline:none;}
    
    .ht-box h1, .htb-btn {position:absolute;left:0;width:100%;}

    .ht-box h1 {top:0;margin:0;border-radius:2px 2px 0 0;line-height:40px;text-align:center;font-size:18px;color:#fff;background:#04BCA6;}

    .htb-main {}

    .htb-btn {bottom:0;height:65px;line-height:65px;text-align:center;background:#F2F2F2;overflow:hidden;}
    .htb-btn {border-top:1px solid #dcdcdc;}
        .htb-btn a {display:inline-block;margin:0 10px;padding:0 20px;border-radius:3px;height:31px;line-height:31px;cursor:pointer;color:#fff;background:#EB5138;}
        .htb-btn .htb-sub {background:#04BCA6;}
        .htb-btn .htb-unsub {background:#EB5138;}




