
.tagListMenu {
	display: none;
	position: absolute;
	max-width: 250px;
	min-width: 80px;
	cursor: pointer;
	border: 1px solid #999;
	background-color: #FFF;
}

.tagListMenuItem {
	padding: 1px 3px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.tagListMenuItemSelected {
	background-color: #FFA;
}

.tagListAddButton {
	display: inline-block;
	margin-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #759DC0;
	background-color: #A8BDE0;
	cursor: pointer;
	opacity: 0.5;
}

.tagListAddButton:hover {
	opacity: 1.0;
}

.tagListAddButtonContent {
	display: inline-block;
	border-left: 1px solid #759DC0;
	background-color: white;
}

.tagListAddButtonLabel {
	display: inline-block;
	vertical-align: middle;
	padding: 2px;
	opacity: 0.5;
}

.tagListAddButton:hover .tagListAddButtonLabel {
	opacity: 1.0;
}

.tagListEditor {
	width: 80px;
	vertical-align: middle;
}

.tagListItem {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #759DC0;
	background-color: #A8BDE0;
	cursor: pointer;
}

.tagListItemContent {
	display: inline-block;
	border-left: 1px solid #759DC0;
	background-color: white;
}

.tagListItemContent > span {
	display: inline-block;
}

.tagListItemLabel {
	vertical-align: middle;
	padding: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 150px;
}

.tagListItemRemoveButton {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	visibility: hidden;
	vertical-align: middle;
	margin-right: 2px;
}

.tagListItem:hover .tagListItemRemoveButton {
	visibility: visible;
	background-image: url("../icons/cross-button.png");
}

.tagListItem:hover .tagListItemRemoveButton:hover {
	visibility: visible;
	background-image: url("../icons/cross-button-hover.png");
}
